body {
    text-align: center;
    background: linear-gradient(#3271a8 0%, #540006 100%);
}

img {
    height: 200px;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 20px;
    text-align: center;
}
